
  <!-- <div id="calculate" class="calculate">
    <div class="container">
      <div class="row">
        <div class="twelve columns heading">
          <h1><u>Your</u> Rate</h1>
          <h2>A better way to calculate your freelance rate.<br> Forget market rates and cost-based pricing.</h2>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="six offset-by-three columns calculator">
          <form id="rateCalc">
            <div class="form-group">
              <div class="input-group">
                <input id="amount" type="text" placeholder="Amount">
                <div class="input-group-label" style="width:60%">annual income</div>
              </div>
              <div class="form-helper">How much (your currency) do you want to make per year?</div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input id="hours" type="text" placeholder="Hours" >
                <div class="input-group-label">billable hours per week</div>
              </div>
              <div class="form-helper">How much of your time in hours is billable per week?</div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <input id="weeks" type="text" placeholder="Week">
                <div class="input-group-label">weeks off per year</div>
              </div>
              <div class="form-helper">How many weeks per year do you want to take as vacation?</div>
            </div>
            <button id="calculate" class="button-secondary">calculate my rate</button>
          </form>
        </div>
      </div>
    </div>
  </div> -->
  <div class="results">
    <div class="container">
      <div class="row">
        <div class="twelve columns heading">
          <h1><u>Your</u> Rate</h1>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns result-summary">
          I want to make <span id="amountText" class="highlight">0</span> anually. Billing <span id="hoursText" class="highlight">0 hours</span>  per week. Taking <span id="weeksText" class="highlight">0 weeks</span> off per year. <a id="recalculate" href="#">Change</a>
        </div>
      </div>
      <div class="row">
        <div class="four columns rate-box">
          <div id="weeklyRate" class="rate-box-amount">0</div>
          <div class="rate-box-label">per week</div>
        </div>
        <div class="four columns rate-box">
          <div id="dailyRate" class="rate-box-amount">0</div>
          <div class="rate-box-label">per day</div>
        </div>
        <div class="four columns rate-box">
          <div id="hourlyRate" class="rate-box-amount">0</div>
          <div class="rate-box-label">per hour</div>
        </div>
        <div class="four columns rate-box">
          <div id="hourlyRate" class="rate-box-amount">0</div>
          <div class="rate-box-label">per hour</div>
        </div>

      </div>
      <div class="row">
        <div class="twelve columns rate-box-helper">These rates have been multiplied by 2 to account for taxes and savings. </div>
      </div>
      <!-- <div class="row">
        <div class="twelve columns">
          <hr>
          <div class="share">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.yourrate.co" data-text="A better way to calculate your freelance rate." data-via="workbymark" data-hashtags="yourrate" data-dnt="true">Tweet</a>
            <iframe src="//www.facebook.com/plugins/share_button.php?href=http%3A%2F%2Fwww.yourrate.co%2F&amp;layout=button_count" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height: 21px; width:100px;" allowTransparency="true"></iframe>
          </div>
         </div>
      </div> -->
    </div>
  </div>
