input {
  border-color: black;
}

select {
  border-color: black;
}

.container {
  background: rgba(0, 34, 255, 0.8);
  color: #fff;
}

.tax-form {
  display: table;
  margin-left: 25px;
  margin-top: -25px;
}

.results {
  margin-top: -227px;
  margin-left: 179px;
}
