<h1>
  FL Annual W2
</h1>

<!-- Tax data form  -->
<div class="container">
  <form>
    <p>Gross Pay</p>
    <input type="text" placeholder="" value="5000" #gross_amount>

    <!-- <p>Gross Pay Method</p> -->
      <!-- <p>Annually, Pay Per Period -->
            <!-- <select name="Gross Pay Method" id="pay_method">
      <option value="Per Pay Period">Per Pay Period</option>
      <option value="Annual">Annually</option>
    </select> -->

    <!-- <p>Gross Pay YTD</p>
    <input type="text" placeholder="" [value]="gross_pay"> -->

    <!-- <p>Pay Frequency </p> -->
      <!-- <p>Daily, Weekly, Biweekly, bimonthly, monthly, quarter, semi-annual, annual</p> -->
    <!-- <select name="Gross Pay Method" id="pay_frequency">
      <option value="daily">Daily</option>
      <option [value]="weekly">Weekly</option>
      <option [value]="biweekly">Biweekly</option>
      <option [value]="semi-monthly">Semi Monthly</option>
      <option [value]="monthly">Monthly</option>
      <option [value]="annually">Annually</option>
    </select> -->

    <p>Federal Filing Status</p>
    <select name="Gross Pay Method"  #file_status>
        <option value="single">Single</option>
        <option value="married">Married</option>
        <option value="single">Married Single Rate</option>
    </select>

    <!-- <p># of Federal Allowances</p>
    <input type="text" placeholder=""> -->

  <input type="submit" (click)="fed_tax(gross_amount.value, file_status.value)">
  </form>

  <div class="results">
    <p>Gross Pay: {{ gross_pay }}</p>
    <p>Federal: {{fed_w }}</p>
    <p>Social Security: {{ social_security }}</p>
    <p>Medicare: {{ medicare }}</p>
    <p>Net Pay Annually: {{ net_pay }} </p>
    <p>Monthly net: {{ monthly_pay }}</p>
    <p>Semi-monthly net: {{ semi_monthly_pay }}</p>
    <p>Biweekly net: {{ biweekly_pay }}</p>
    <p>Weekly net: {{ weekly_pay }}</p>
  </div>

</div>
