<h1>
  FL Annual W2
</h1>

<!-- Tax data form  -->
<div class="container">
  <form>
    <p>Gross Pay</p>
    <input type="text" placeholder="">

    <p>Gross Pay Method</p>
      <!-- <p>Annually, Pay Per Period</p> -->
    <select name="Gross Pay Method" id="pay_method">
      <option value="Per Pay Period">Per Pay Period</option>
      <option value="Annual">Annually</option>
    </select>

    <p>Gross Pay YTD</p>
    <input type="text" placeholder="">

    <p>Pay Frequency </p>
      <!-- <p>Daily, Weekly, Biweekly, bimonthly, monthly, quarter, semi-annual, annual</p> -->
    <select name="Gross Pay Method" id="pay_frequency">
      <!-- <option value="daily">Daily</option> -->
      <option value="weekly">Weekly</option>
      <option value="biweekly">Biweekly</option>
      <option value="semi-monthly">Semi Monthly</option>
      <option value="monthly">Monthly</option>
      <option value="annually">Annually</option>
    </select>

    <p>Federal Filing Status</p>
    <!-- <p>Single Filling, Married Filling Jointly, Married Filling Separately,
    Head of Household?</p> -->
    <input type="text" placeholder="">

    <p># of Federal Allowances</p>
    <input type="text" placeholder="">

  <input type="submit">
  </form>

  <div class="results">

  <p>Gross Pay</p>
<p>Federal</p>
<p>Fica</p>
<p>Medicare</p>
<p>Net Pay</p>

  </div>
</div>
